@media screen and (min-width: 768px) {
    .menu {
        height: 200px
    }

    .logo {
        font-size: 2.2em;
    }

    .burger {
        font-size: 2.5em;
    }

    .nav {
        top: 140px;
        right: 35px;
    }

    .navlink {
        font-size: 2em;
    }

    // First
    .first p {
        font-size: 2.3em;
    }

    // Second 
    .second h1 {
        font-size: 3em;
    }

    .second p {
        font-size: 2em;
    }

    // Third
    .third h1 {
        font-size: 3em;
    }

    .third p {
        font-size: 2em;
    }

    // Fourth
    .fourth h1 {
        font-size: 3em;
    }

    .fourth h3 {
        font-size: 2em;
    }

    button {
        width: 45%;
        height: 70px;
        font-size: 1.5em
    }

    // Footer 
    footer {
        font-size: 1.5em
    }
}

@media screen and (min-width: 1025px) {
    .menu {
        display: flex;
    }

    .nav {
        display: flex;
        width: 50%;
        flex-direction: row;
        position: inherit;
        background-color: transparent;
        
    }
    
    .navlink a{
        text-decoration: none;
        color: #f5f5f5
    }
    
    .burger {
        display: none;
        font-size: 1.2em;
    }
}